<section
								class="elementor-section elementor-inner-section elementor-element elementor-element-c560533 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
								data-id="c560533" data-element_type="section">
								<div class="elementor-container elementor-column-gap-default">
									<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-60a5605"
										data-id="60a5605" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div class="elementor-element elementor-element-4ccd9be elementor-widget elementor-widget-heading"
												data-id="4ccd9be" data-element_type="widget"
												data-widget_type="heading.default">
												<div class="elementor-widget-container">
													<h2 class="elementor-heading-title elementor-size-default">Archives
													</h2>
												</div>
											</div>
											<div class="elementor-element elementor-element-0b1cc22 elementor-widget elementor-widget-heading"
												data-id="0b1cc22" data-element_type="widget"
												data-widget_type="heading.default">
												<div class="elementor-widget-container">
													<h3 class="elementor-heading-title elementor-size-default"><a
															href="https://myanimelist.net/animelist/murphman" target="_blank">AnimeList</a></h3>
												</div>
											</div>
											<div class="elementor-element elementor-element-0e233ca elementor-widget elementor-widget-heading"
												data-id="0e233ca" data-element_type="widget"
												data-widget_type="heading.default">
												<div class="elementor-widget-container">
													<h3 class="elementor-heading-title elementor-size-default"><a
															href="https://open.spotify.com/playlist/28YRXi7fm2ThnohmEltR9V" target="_blank">Music</a></h3>
												</div>
											</div>
											<div class="elementor-element elementor-element-7deee82 elementor-widget elementor-widget-heading"
												data-id="7deee82" data-element_type="widget"
												data-widget_type="heading.default">
												<div class="elementor-widget-container">
													<h3 class="elementor-heading-title elementor-size-default"><a
															href="https://github.com/murphlmao" target="_blank">Code</a></h3>
												</div>
											</div>
										</div>
									</div>
									<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-449cb17"
										data-id="449cb17" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div class="elementor-element elementor-element-edd645c elementor-widget elementor-widget-heading"
												data-id="edd645c" data-element_type="widget"
												data-widget_type="heading.default">
												<div class="elementor-widget-container">
													<h2 class="elementor-heading-title elementor-size-default">RESOURCES
													</h2>
												</div>
											</div>
											<div class="elementor-element elementor-element-47ac4c0 elementor-widget elementor-widget-heading"
												data-id="47ac4c0" data-element_type="widget"
												data-widget_type="heading.default">
												<div class="elementor-widget-container">
													<h3 class="elementor-heading-title elementor-size-default"><a
															href="/cv" target="_blank">CV</a></h3>
												</div>
											</div>
											<div class="elementor-element elementor-element-aabbfeb elementor-widget elementor-widget-heading"
												data-id="aabbfeb" data-element_type="widget"
												data-widget_type="heading.default">
												<div class="elementor-widget-container">
													<h3 class="elementor-heading-title elementor-size-default"><a
															href="/faq" target="_blank">FAQ</a></h3>
												</div>
											</div>
											<div class="elementor-element elementor-element-39dbddf elementor-widget elementor-widget-heading"
												data-id="39dbddf" data-element_type="widget"
												data-widget_type="heading.default">
												<div class="elementor-widget-container">
													<h3 class="elementor-heading-title elementor-size-default"><a
															href="http://beboparchives.org/#" target="_blank"></a></h3>
												</div>
											</div>
										</div>
									</div>
									<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-3b4aa72"
										data-id="3b4aa72" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div class="elementor-element elementor-element-7dbe3d1 elementor-widget elementor-widget-heading"
												data-id="7dbe3d1" data-element_type="widget"
												data-widget_type="heading.default">
												<div class="elementor-widget-container">
													<h2 class="elementor-heading-title elementor-size-default">Connect
													</h2>
												</div>
											</div>
											<div class="elementor-element elementor-element-e541fec elementor-widget elementor-widget-heading"
												data-id="e541fec" data-element_type="widget"
												data-widget_type="heading.default">
												<div class="elementor-widget-container">
													<h3 class="elementor-heading-title elementor-size-default"><a
															href="/about" target="_blank">About</a></h3>
												</div>
											</div>
											<div class="elementor-element elementor-element-fb99a13 elementor-widget elementor-widget-heading"
												data-id="fb99a13" data-element_type="widget"
												data-widget_type="heading.default">
												<div class="elementor-widget-container">
													<h3 class="elementor-heading-title elementor-size-default"><a
															href="/blog" target="_blank">Blog</a></h3>
												</div>
											</div>
											<div class="elementor-element elementor-element-aa49404 elementor-widget elementor-widget-heading"
												data-id="aa49404" data-element_type="widget"
												data-widget_type="heading.default">
												<div class="elementor-widget-container">
													<h3 class="elementor-heading-title elementor-size-default"><a
															href="/more" target="_blank">More</a></h3>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>