<!DOCTYPE html>
<html lang="en-US">
    <head>
        {{ partial "meta.html"}}
    </head>
<body
	class="home page-template page-template-elementor_canvas page page-id-6 elementor-default elementor-template-canvas elementor-kit-5 elementor-page elementor-page-6 e--ua-blink e--ua-edge e--ua-webkit"
	data-elementor-device-mode="desktop">
	<div data-elementor-type="wp-page" data-elementor-id="6" class="elementor elementor-6" data-elementor-settings="[]">
		<div class="elementor-section-wrap">
			<section
				class="elementor-section elementor-top-section elementor-element elementor-element-4c6a059 elementor-section-full_width elementor-section-height-full elementor-section-items-top elementor-section-height-default"
				data-id="4c6a059" data-element_type="section">
				<div class="elementor-container elementor-column-gap-no">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-303eb03 elementor-hidden-mobile"
						data-id="303eb03" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-4400471 elementor-widget__width-initial elementor-widget-mobile__width-inherit elementor-widget-tablet__width-initial elementor-fixed elementor-widget elementor-widget-image"
								data-id="4400471" data-element_type="widget"
								data-settings="{&quot;_position&quot;:&quot;fixed&quot;}"
								data-widget_type="image.default">
								<div class="elementor-widget-container">

									{{ block "picsnorm" . }}	

									{{ end }}
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-39ebb88"
						data-id="39ebb88" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-f90c6ee elementor-widget-tablet__width-inherit elementor-widget-mobile__width-inherit elementor-hidden-desktop elementor-hidden-tablet elementor-widget elementor-widget-image"
								data-id="f90c6ee" data-element_type="widget" data-widget_type="image.default">
								<div class="elementor-widget-container">
									{{ block "picsmall" . }}	

									{{ end }}
								</div>
							</div>
							<div class="elementor-element elementor-element-005ad09 elementor-widget elementor-widget-heading"
								data-id="005ad09" data-element_type="widget" data-widget_type="heading.default">
								<div class="elementor-widget-container">
									<h2 class="elementor-heading-title elementor-size-default">
										{{ block "welcomeheader" . }}
									
										{{ end }}
									</h2>
								</div>
							</div>
							<div class="elementor-element elementor-element-f0f37c3 elementor-widget elementor-widget-heading"
								data-id="f0f37c3" data-element_type="widget" data-widget_type="heading.default">
								<div class="elementor-widget-container">
									
									<h1 class="elementor-heading-title elementor-size-default">
										{{ block "mainheader" . }}
									
										{{ end }}
										
									</h1>
									
								</div>
							</div>
							<div class="elementor-element elementor-element-e910fb8 elementor-widget elementor-widget-text-editor"
								data-id="e910fb8" data-element_type="widget" data-widget_type="text-editor.default">
								<div class="elementor-widget-container">
									<div id="block-7f5d89f697fe4c04a64acfee36b2d8d6" class="notion-text">
										<p class="notion-text__content">
											<span class="notion-semantic-string">
												{{ block "belowheader" . }}
												

												{{ end }}
												<!--	<table>
													  <tr>
														<td>
														  <ul>
															<li>Object Oriented</li>
															<li>oranges</li>
														  </ul>
														</td>
														<td>
														  <ul>
															<li>apples</li>
															<li>oranges</li></ul>
														</td>
													</tr>
												</table> -->
												</span>
										</p>
									</div>
									
										<p class="notion-text__content">
											<b>
												{{ block "boldedsection" . }}
												{{ end }}
											</b>
										</p>
									
								</div>
							</div>
							{{ partial "connects.html"}}

							{{ partial "footer.html"}}
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</body>
</html>