---
const navigation = [
  { name: 'Articles', href: '/articles' },
  { name: 'Snippets', href: '/snippets' },
  { name: 'Resources', href: '/resources' },
  { name: 'Projects', href: '/projects' },
];

const currentYear = new Date().getFullYear();
---

<footer class="mt-32">
  <div class="mx-auto max-w-7xl px-4">
    <div class="mx-auto lg:max-w-5xl">
      <div class="border-t border-zinc-100 dark:border-zinc-700/40 pt-10 pb-16">
        <div class="flex flex-col items-center justify-between gap-6 sm:flex-row">
          <div class="flex gap-6 text-sm font-medium text-zinc-800 dark:text-zinc-200">
            {navigation.map((item) => (
              <a
                href={item.href}
                class="transition hover:text-sky-500 dark:hover:text-sky-400"
              >
                {item.name}
              </a>
            ))}
          </div>
          <p class="text-sm text-zinc-400 dark:text-zinc-500">
            &copy; {currentYear} Murphy Malcolm. All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
